[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw
[submodule "lib/enet"]
	path = lib/enet
	url = https://github.com/lsalzman/enet.git
[submodule "lib/glad"]
	path = lib/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "lib/entt"]
	path = lib/entt
	url = https://github.com/skypjack/entt.git
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "lib/zpp_bits"]
	path = lib/zpp_bits
	url = git@github.com:eyalz800/zpp_bits.git
[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest.git
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm.git
[submodule "lib/assimp"]
	path = lib/assimp
	url = https://github.com/assimp/assimp.git
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb.git
